.outer-box {
  width: 400px;
  height: 550px;
  background-color: #c0c0c0;
  color: black;
  border-radius: 5px;

  margin-bottom: 30px;
  margin-left: 10px;
}

.card-title {
  align-items: center;
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.title-card-book {
  font-size: 32px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 0px;
  padding: 0px;
}

.writer {
  font-size: 18px;
  margin-bottom: 2px;
}
.date {
  font-size: 15px;
  margin-bottom: 2px;
}
.note {
  font-size: 10px;
  margin-bottom: 2px;
}
.location {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
}
